
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="account_wrapper float_left header_text">
    <div class="row mb-5 header_text">

        <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-12 text-center mb-5 text-white header_text">
            <h2 class="text_color2 mb-2 mt-5"> <b>  SUCCESS! </b> </h2>
            <p class="font-weight-bold lead mb-2"> Dear @User.Identity.Name, 
                Your registration payment was successful 
            </p>
            <p class="lead">
			    You will receive an email when your registration is confirmed. 
                Thank you!.
                <br />
                Grow with GAP.
			</p>
        </div>

    </div>
</div>
