@model Core.ViewModels.UserChangePasswordViewModel

@{
	ViewData["Title"] = "Change Password";
	if (User.IsInRole("Admin"))
	{ Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml"; }
	else { Layout = "~/Views/Shared/_DashboardLayout.cshtml"; }
}


<div class="payment_transfer_Wrapper float_left">
	<div class="row">
		<div class="col-md-12 col-lg-12 col-sm-12 col-12"></div>

		<div class="col-md-12 col-lg-12 col-sm-12 col-12">
			<div class="sv_heading_wraper heading_center">
				<h3> Change Password</h3>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-md-12 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-sm-12 col-12">

			@if (TempData["Message"] != null)
			{

				var tempDatamessage = (Tradeify.Models.Message)TempData["Message"];
				<partial name="_Message" model="tempDatamessage" />
			}

			<div class="change_password_wrapper float_left">
				<h4 class="text-danger"> Warning!!! </h4>
				<br />
				<h5 class="text-white">

					REMEMBER TO PUT IN THE <mark class="bg-transparent text-warning"><b> CORRECT  OLD PASSWORD. </b></mark>

				</h5>

				<br />
				<br />

				<div class="change_pass_field float_left">

					<form asp-action="ChangePassword" asp-controller="Account" method="post">

						<div class="change_field">
							<label>Old Password :</label>
							<input asp-for="OldPassword" type="password" placeholder="Enter your old password" required>
						</div>

						<div class="change_field">
							<label>New Password :</label>
							<input asp-for="NewPassword" type="password" placeholder="Enter the new password to be used" required>
						</div>

						<div class="change_field">
							<label>Enter new password again :</label>
							<input asp-for="ConfirmNewPassword" type="password" placeholder="Confirm the new password to be used" required>
						</div>



						<div class="col-md-12">
							<div class="tb_es_btn_div">
								<div class="tb_es_btn_wrapper conatct_btn2 cont_bnt mb-5">
									<button type="submit" class="bg-warning submitForm">Submit New Password </button>
								</div>
							</div>
						</div>

					</form>



				</div>
			</div>
		</div>
	</div>
</div>
