@model Core.Models.ApplicationUser

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutTwo.cshtml";
}

<div class="login_wrapper fixed_portion float_left">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="login_top_box float_left">
                    <div class="col-lg-5 forgot_banner_wrapper">


                        <div class="jp_regis_center_tag_wrapper jb_register_red_or">
                            <h1>OR</h1>
                        </div>

                    </div>


                    <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="login_form_wrapper">

                        @if (TempData["Message"] != null)
                        {

                            var tempDatamessage = (Tradeify.Models.Message)TempData["Message"];
                            <partial name="_Message" model="tempDatamessage" />
                        }



                        <div class="sv_heading_wraper heading_wrapper_dark dark_heading hwd_passer">
                            <h3> Forgot Your Password ?</h3>
                        </div>

                        <div class="sv_heading_wraper heading_wrapper_dark dark_heading hwd" id="warningNote">
                            <h4>  <i class='fas fa-lock' style='font-size:26px; color: #dba622;'></i> Enter your <b>Email Address</b> and we will send you a verification <b>link</b>  To retrieve your account. </h4>
                        </div>

                        <div class="form-group icon_form comments_form">
                            <input asp-for="Email" type="email" class="form-control" required placeholder="Email Address*">
                        </div>


                        <button type="submit" class="about_btn login_btn float_left  badge-pill" style="background-color: #dba622;">
                            <a>Reset password</a>
                        </button>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>