@inject Logic.IHelpers.IUserHelper _userHelper;
<!DOCTYPE html>
<html lang="en">

@{
    var users = _userHelper.GetAllUser();
    var totalUsers = users;
}
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="ggc" />
    <meta name="keywords" content="green coin" />
    <meta name="author" content="green gold" />
    <meta name="MobileOptimized" content="320" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GAP</title>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/modernizr.js"></script>
    <script src="~/js/jquery.menu-aim.js"></script>
    <script src="~/js/plugin.js"></script>
    <script src="~/js/jquery.countTo.js"></script>
    <script src="~/js/dropify.min.js"></script>
    <script src="~/js/datatables.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.inview.min.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/calculator.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/clipboard.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    <script src="~/fontawesome-free/js/all.js"></script>
    <script src="~/js/grant.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7VBV7KW5FP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-7VBV7KW5FP');
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <link rel="stylesheet" type="text/css" href="~/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="~/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="~/css/nice-select.css" />
    <link rel="stylesheet" type="text/css" href="~/css/datatables.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dropify.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/css/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css" />
    <!--favicon-->
    <link rel="shortcut icon" type="image/png" href="~/images/favicon.png" />

    <script>
        function showLoader() {
            $("#myModal").modal({ backdrop: 'static', keyboard: false });
        }
        function hideLoader() {
            $("#myModal").modal('hide');
        }
        function showSpin() {
            $("#showspin").fadeOut(1500);
            $("#showcontent").fadeIn(3000);
        }

        function errorAlert(message) {
            Swal.fire({
                icon: 'error',
                text: message,
            })
        }

        function infoAlert(message) {
            Swal.fire({
                icon: 'info',
                text: message,
            })
        }

        function infoAlertWithStyles(message) {
            Swal.fire({
                title: 'Notification',
                icon: 'info',
                text: message,
            })
        }

        function newSuccessAlert(message, url) {
            Swal.fire({
                icon: 'success',
                text: message,
            }).then(function () {

                location.href = url;
            })
        }

        function successAlert(message) {
            Swal.fire({
                icon: 'success',
                text: message,
            })
        }

        function successAlertWithRedirect(message, url) {
            swal.fire({
                title: "Success",
                text: message,
                icon: "success",
                timer: "30000",
                overlay: "background - color: rgba(43, 165, 137, 0.45)",
            }).then(function () {

                location.href = url;
            })
        }

        function successAlertWithDoubleButtons(message, url) {
            swal.fire({
                title: "Success",
                text: message,
                icon: "success",
                showCancelButton: true,
                cancelButtonColor: "#22c8db",
                confirmButtonText: "Pay Reg Bonus",
                confirmButtonColor: "#006400",
            }).then((result) => {
                if (result.isConfirmed) {
                    location.href = url;
                }
            })
        }

    </script>

</head>
<body>
    <!-- Loader -->
    <div id="loader-wrapper">
        <div id="loader">
            <div class="loader-ellips">
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
            </div>
        </div>
    </div>
    <!-- /Loader -->
    <!-- <div class="cursor"></div> -->
    <!-- Top Scroll Start -->
    <a href="#" id="return-to-top"> <i class="fas fa-angle-double-up"></i></a>
    <!-- Top Scroll End -->
    <!-- cp navi wrapper Start -->

    <nav class="cd-dropdown d-block d-sm-block d-md-block d-lg-none d-xl-none">
        <h2><a asp-controller="Home" asp-action="Index"> GAP </a></h2>
        <a href="#0" class="cd-close">Close</a>

        <ul class="cd-dropdown-content">
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <form class="cd-search">
                        <input type="search" placeholder="Search...">
                    </form>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                var userId = User.Identity.Name;

                var getAdmin = await _userHelper.RedirectToRolesDashboard(userId);

                if (getAdmin)
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="Index">Go To Admin</a>
                        </li>
                    }
                    <li class="has-children">
                        <a href="#">dashboard</a>
                        <ul class="cd-secondary-dropdown icon_menu is-hidden">
                            <li class="go-back"><a href="#0">Menu</a></li>

                            @*<li><a asp-controller="User" asp-action="Packages"> investment plan </a></li>*@

                            <li>
                                <a asp-controller="User" asp-action="Index">my account</a>
                            </li>

                            <li>
                                <a href="~/binary">My binary</a>
                            </li>

                            <li>
                                <a asp-controller="User" asp-action="ViewUserPackages">my packages</a>
                            </li>

                            <li>
                                <a asp-controller="User" asp-action="Profile">view profile</a>
                            </li>

                            <li>
                                <a asp-controller="Admin" asp-action="PendingWithdrawals"> Approve Withdrawal Request </a>
                            </li>

                            <li> <a asp-controller="Admin" asp-action="News">Create News </a></li>

                            <li> <a asp-controller="RegistrationPackage" asp-action="Index"> Create Packages </a></li>

                            <li><a asp-controller="Admin" asp-action="Permission"> Add Users To Roles</a></li>

                            <li><a asp-controller="Admin" asp-action="PaymentApproval"> Approve all Payments</a></li>

                            <li>
                                <form method="post" asp-action="LogOut" asp-controller="Account">
                                    <button class="btn col-sm-12 " style="background-color: #22c8db;">
                                        <i class=" fas fa-power-off" style="font-size:20px"></i>
                                        <span class="ml-2 font-weight-bold" style="font-size:18px">Logout</span>
                                    </button>
                                </form>
                            </li>

                        </ul>
                    </li>
                }
                else
                {
                    <li class="has-children">
                        <a href="#">dashboard</a>
                        <ul class="cd-secondary-dropdown icon_menu is-hidden">
                            <li class="go-back"><a href="#0">Menu</a></li>

                            <li>
                                <a asp-controller="Account" asp-action="ChangePassword">Change password</a>
                            </li>

                            <li><a asp-controller="Home" asp-action="ContactUs"> contact us </a></li>

                            @*<li><a asp-controller="User" asp-action="Packages"> investment plan </a></li>*@

                            <li>
                                <a asp-controller="User" asp-action="Index">my account</a>
                            </li>

                            <li>
                                <a href="~/binary">my binary</a>
                            </li>

                            <li>
                                <a asp-action="WithdrawFunds" asp-controller="User"> Withdraw Money </a>
                            </li>
                            <li>
                                <a asp-controller="User" asp-action="ViewUserPackages"> My Packages </a>
                            </li>

                            <li>
                                <form method="post" asp-action="LogOut" asp-controller="Account">
                                    <button class="btn col-sm-12 " style="background-color: #22c8db;">
                                        <i class=" fas fa-power-off" style="font-size:20px"></i>
                                        <span class="ml-2 font-weight-bold" style="font-size:18px">Logout</span>
                                    </button>
                                </form>
                            </li>

                        </ul>
                    </li>

                    @*<li class="has-children">
                            <a href="#">News</a>
                            <ul class="cd-secondary-dropdown icon_menu is-hidden">
                                <li class="go-back"><a href="#0">Menu</a></li>
                                <li><a asp-controller="News" asp-action="News">News category</a></li>
                                <li><a asp-controller="News" asp-action="News">Trending News</a></li>
                            </ul>
                        </li>*@
                }
            }
            else
            {
                <li>
                    <form class="cd-search">
                        <input type="search" placeholder="Search...">
                    </form>
                </li>

                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>

                @* <li><a href="#packages" id="click"> investment plan </a></li>*@

                @*<li class="has-children">
                        <a href="#">News</a>
                        <ul class="cd-secondary-dropdown icon_menu is-hidden">
                            <li class="go-back"><a href="#0">Menu</a></li>
                            <li><a href="#news" id="click1">News category</a></li>
                            <li><a href="#news" id="click1">Trending News</a></li>
                        </ul>
                    </li>*@

                <li>
                    <a href="#faqs" id="click3"> Questions ?</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="ContactUs"> contact us </a>
                </li>

                <li>
                    <a asp-controller="Home" asp-action="AboutUs"> About us </a>
                </li>

                <li><a asp-controller="Account" asp-action="Login"> login </a></li>
            }
        </ul>
        <!-- .cd-dropdown-content -->
    </nav>

    <div class="cp_navi_main_wrapper index2_header_wrapper float_left">
        <div class="container-fluid">
            <div class="cp_logo_wrapper logoSmallScreen d-flex align-items-center">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/images/logoNew.png" alt="logo" class="img_logo">
                    <h3 class="font-weight-bold logo-h3"> GAP </h3>
                </a>
            </div>

            <!-- mobile menu area start -->
            @if (User.Identity.IsAuthenticated)
            {
                <header class="mobail_menu d-block d-sm-block d-md-block d-lg-none d-xl-none">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="cd-dropdown-wrapper">
                                    <a class="house_toggle" href="#0">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 31.177 31.177" style="enable-background:new 0 0 31.177 31.177;" xml:space="preserve" width="25px" height="25px">
                                        <g>
                                        <g>
                                        <path class="menubar" d="M30.23,1.775H0.946c-0.489,0-0.887-0.398-0.887-0.888S0.457,0,0.946,0H30.23    c0.49,0,0.888,0.398,0.888,0.888S30.72,1.775,30.23,1.775z" fill="#004165" />

                                            </g>
                                        <g>
                                        <path class="menubar" d="M30.23,9.126H12.069c-0.49,0-0.888-0.398-0.888-0.888c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,8.729,30.72,9.126,30.23,9.126z" fill="#004165" />
                                            </g>
                                        <g>
                                        <path class="menubar" d="M30.23,16.477H0.946c-0.489,0-0.887-0.398-0.887-0.888c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,16.079,30.72,16.477,30.23,16.477z" fill="#004165" />
                                            </g>
                                        <g>
                                        <path class="menubar" d="M30.23,23.826H12.069c-0.49,0-0.888-0.396-0.888-0.887c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,23.43,30.72,23.826,30.23,23.826z" fill="#004165" />




                                                </g>
                                        <g>
                                        <path class="menubar" d="M30.23,31.177H0.946c-0.489,0-0.887-0.396-0.887-0.887c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.398,0.888,0.888C31.118,30.78,30.72,31.177,30.23,31.177z" fill="#004165" />



                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                    <!-- .cd-dropdown -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .cd-dropdown-wrapper -->
                </header>
                <div class="top_header_right_wrapper">
                    <div class="header_btn">
                        <ul>
                            @if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a href="~/Admin/Index">Go To Admin </a>
                                </li>
                                <li>
                                    <a href="~/Home/ContactUs"> Get Help </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="~/User/Index"> Dashboard </a>
                                </li>
                                <li>
                                    <a href="~/Home/ContactUs"> Get Help </a>
                                </li>
                            }

                        </ul>

                    </div>
                </div>

                <div class="cp_navigation_wrapper">
                    <div class="mainmenu d-xl-block d-lg-block d-md-none d-sm-none d-none">
                        <ul class="main_nav_ul">


                            <li class="has-mega gc_main_navigation">
                                <a asp-controller="Home" asp-action="Index" class="active_class">Home </a>
                            </li>

                            <li class="has-mega gc_main_navigation">
                                <a href="#">Pages <i class="fas fa-caret-down"></i></a>
                                <ul class="navi_2_dropdown">
                                    @* <li><a asp-controller="User" asp-action="Packages">Investment plan</a></li>*@

                                    <li>
                                        <a asp-action="WithdrawFunds" asp-controller="User"> Withdraw Money </a>
                                    </li>
                                    <li>
                                        <a href="~/binary"> my binary</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Home" asp-action="AboutUs"> About Us</a>
                                    </li>

                                </ul>
                            </li>


                            <li class="has-mega gc_main_navigation">
                                <a asp-controller="User" asp-action="Index">dashboard <i class="fas fa-caret-down"></i></a>

                                <ul class="navi_2_dropdown">

                                    <li class="parent">
                                        <a asp-controller="User" asp-action="Index">
                                            <i class="fas fa-caret-right"></i>my account
                                            <span>
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                        </a>
                                        <ul class="dropdown-menu-right">
                                            <li>
                                                <a asp-controller="User" asp-action="Index"> <i class="fas fa-caret-right"></i>my account </a>
                                            </li>
                                            <li>
                                                <a asp-controller="User" asp-action="Profile"> <i class="fas fa-caret-right"></i> my profile</a>
                                            </li>


                                            <li>
                                                <a asp-controller="Account" asp-action="ChangePassword"><i class="fas fa-caret-right"></i>Change password</a>
                                            </li>

                                        </ul>
                                    </li>

                                </ul>
                            </li>

                            @* <li class="has-mega gc_main_navigation">
                                    <a href="#">News <i class="fas fa-caret-down"></i></a>
                                    <ul class="navi_2_dropdown">
                                        <li class="parent">
                                            <a asp-controller="News" asp-action="News"><i class="fas fa-caret-right"></i>News category</a>
                                        </li>
                                        <li class="parent">
                                            <a asp-controller="News" asp-action="News"><i class="fas fa-caret-right"></i> Trending News</a>
                                        </li>
                                    </ul>
                                </li>*@

                            <li class="has-mega gc_main_navigation">
                                <a href="#">Logout <i class="fas fa-caret-down"></i></a>
                                <ul class="navi_2_dropdown">

                                    <form asp-action="Logout" asp-controller="Account" method="post">
                                    <li>
                                        <button class="btn " style="background-color:transparent;color: #22c8db;"><i class="fas fa-caret-right"></i>Logout</button>
                                    </li>
                                    </form>

                                </ul>
                            </li>

                        </ul>
                    </div>
                    <!-- mainmenu end -->
                </div>
            }
            else
            {
                <header class="mobail_menu d-block d-sm-block d-md-block d-lg-none d-xl-none">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="cd-dropdown-wrapper">
                                    <a class="house_toggle" href="#0">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 31.177 31.177" style="enable-background:new 0 0 31.177 31.177;" xml:space="preserve" width="25px" height="25px">
                                        <g>
                                        <g>
                                        <path class="menubar" d="M30.23,1.775H0.946c-0.489,0-0.887-0.398-0.887-0.888S0.457,0,0.946,0H30.23    c0.49,0,0.888,0.398,0.888,0.888S30.72,1.775,30.23,1.775z" fill="#004165" />

                                            </g>
                                        <g>
                                        <path class="menubar" d="M30.23,9.126H12.069c-0.49,0-0.888-0.398-0.888-0.888c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,8.729,30.72,9.126,30.23,9.126z" fill="#004165" />

                                                </g>
                                        <g>
                                        <path class="menubar" d="M30.23,16.477H0.946c-0.489,0-0.887-0.398-0.887-0.888c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,16.079,30.72,16.477,30.23,16.477z" fill="#004165" />

                                                </g>
                                        <g>
                                        <path class="menubar" d="M30.23,23.826H12.069c-0.49,0-0.888-0.396-0.888-0.887c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,23.43,30.72,23.826,30.23,23.826z" fill="#004165" />

                                                </g>
                                        <g>
                                        <path class="menubar" d="M30.23,31.177H0.946c-0.489,0-0.887-0.396-0.887-0.887c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.398,0.888,0.888C31.118,30.78,30.72,31.177,30.23,31.177z" fill="#004165" />



                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                    <!-- .cd-dropdown -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .cd-dropdown-wrapper -->
                </header>
                <div class="top_header_right_wrapper">

                    <div class="header_btn">
                        <ul>

                            <li>
                                <a href="~/Account/Login"> login </a>
                            </li>
                            <li>
                                <a href="~/Home/ContactUs"> Get Help </a>
                            </li>

                        </ul>

                    </div>
                </div>

                <div class="cp_navigation_wrapper">
                    <div class="mainmenu d-xl-block d-lg-block d-md-none d-sm-none d-none">
                        <ul class="main_nav_ul">

                            <li class="has-mega gc_main_navigation">
                                <a asp-controller="Home" asp-action="Index" class="active_class">Home </a>
                            </li>

                            <li><a href="#packages" id="click">Investment plan</a></li>

                            <li><a href="#faqs" id="click3">Faqs</a></li>

                            <li><a href="~/Home/AboutUs">About Us</a></li>

                            @* <li class="has-mega gc_main_navigation">
                                    <a href="#">News <i class="fas fa-caret-down"></i></a>
                                    <ul class="navi_2_dropdown">
                                        <li class="parent">
                                            <a href="#news" id="click1"><i class="fas fa-caret-right"></i>News category</a>
                                        </li>
                                        <li class="parent">
                                            <a href="#news" id="click1"><i class="fas fa-caret-right"></i> Trending News</a>
                                        </li>
                                    </ul>
                                </li>*@

                        </ul>
                    </div>
                    <!-- mainmenu end -->
                </div>
            }
        </div>
    </div>

    <div class="main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="">
            <div class="footer_main_wrapper index2_footer_wrapper float_left">

                <div class="container">

                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-12 col-sm-12">
                            <div class="wrapper_second_about">
                                <div class="wrapper_first_image">
                                    <a asp-controller="Home" asp-action="Index"><img src="~/images/logo4.png" class="img-responsive" alt="logo" /></a>
                                </div>
                                <p>We are a full service Digital Investment Platform all the foundational tool you need are below.</p>

                                <div class="counter-section">
                                    <div class="ft_about_icon float_left">
                                        <i class="flaticon-user"></i>
                                        <div class="ft_abt_text_wrapper">
                                            <p> <span>totalUsers</span></p>
                                            <p>total members</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 col-12 col-sm-4">
                            <div class="wrapper_second_useful">
                                <h4>usefull links </h4>

                                <ul>
                                    <li>
                                        <a asp-controller="Home" asp-action="AboutUs"><i class="fa fa-angle-right "></i>About us</a>
                                    </li>

                                    <li>
                                        <a asp-controller="Home" asp-action="ContactUs"><i class="fa fa-angle-right"></i>contact </a>
                                    </li>

                                    <li>
                                        <a href="#packages" id="click"><i class="fa fa-angle-right transit"></i>services</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-3 col-12 col-sm-4">
                            <div class="wrapper_second_useful wrapper_second_links">
                                <ul>
                                    <li><a href="#news" id="click1"><i class="fa fa-angle-right transit"></i>news</a> </li>

                                    <li>
                                        <a href="#faqs" id="click3"><i class="fa fa-angle-right transit"></i>FAQ </a>
                                    </li>

                                    <li>
                                        <a asp-controller="User" asp-action="PaymentMethods"><i class="fa fa-angle-right"></i>Pay RegFee </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12 col-sm-12">
                            <div class="wrapper_second_useful wrapper_second_useful_2">
                                <h4>contact  us</h4>

                                <ul>

                                    <li>
                                        <a href="#"><i class="flaticon-mail"></i>Support@gapprojects.com</a>
                                    </li>
                                    <li>
                                        <a href="http://ggcprojects.com/"><i class="flaticon-language"></i> www.greenafricanprojects.com </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <div class="copyright_wrapper float_left row">
                                <div class="col-lg-4 col-sm-12 ">
                                    <div class="copyright">
                                        <p>Copyright &copy; @DateTime.Now.Year<a href="#"> GAP </a>. All right reserved. </p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12 text-center mt-4">
                                    <small> Powered by <a href="https://www.bivisoft.com/" target="_blank"> Bivisoft </a></small>
                                </div>
                                <div class=" col-lg-4 col-sm-12 ">
                                    <div class="social_link_foter">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
